
<div class="header" id="topheader">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container text-uppercase p-2">
<a class="navbar-brand" href="#">
  <img src="/../assets/img/icon.jpeg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Technologies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Marketing Insights</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" 
        id="navbarDropdown" role="button" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Smart Contracts Development</a>
          <a class="dropdown-item" href="#">Exchange</a>
          <a class="dropdown-item" href="#">BlockChain Development</a>
          <a class="dropdown-item" href="#">Hyperledger</a>
          <a class="dropdown-item" href="#">private BlockChain Development</a>
          <a class="dropdown-item" href="#">Wallet</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
     
    
    </ul>
 
  </div>
</div>
</nav>
<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 kk1">
         <h1>Lorem<br>
          Ipsum</h1>
          <img  src="/../assets/img/bitcoin2.png">
          <img  src="/../assets/img/bitcoin1.png">
        </div>
    
    <div class="col-lg-6 col-md-6 col-12">
      
      <img class="im" src="/../assets/img/bitcoin.png">
    </div>
  </div>
  </div>
</section>
</div>

<section class = "kk2 header-extradiv">
  <h1 class="text-center kk">Our SERVICES</h1>
  <div class="container">
    <div class="row">
       <div class="extra-div col-lg-4 col-md-4 col-12">
         <a href="#"><img src="/../assets/img/Layer 3.png"></a>
          <h2>SMART CONTRACTS<br>
          DEVELOPMENT</h2>
          
        </div>
        <div class="extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><img src="/../assets/img/Layer 4.png"></a>
           <h2>EXCHANGES</h2>
           
         </div>
         <div class="extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><img src="/../assets/img/Layer 5.png"></a>
           <h2>BLOCKCHAIN <br>
           DEVELOPMENT</h2>
          
         </div>
         <div class="extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><img src="/../assets/img/Network-512.png"></a>
           <h2>HYPERLEDGER</h2>
          
         </div>
         <div class="extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><img src="/../assets/img/private.png"></a>
           <h2>PRIVATE BLOCKCHAIN <br>
           DEVELOPMENT</h2>
          
         </div>
         <div class="extra-div col-lg-4 col-md-4 col-12">
          <a href="#"><img src="/../assets/img/Layer 6.png"></a>
           <h2>WALLET</h2>
          </div>
         
    </div>
  
     <button class="btn btn-primary" (click)="fun()" id="btn">View all Services
       
     </button>

  </div>
</section>

<section class="Trends">
  
    <h1 class="text-center heading">TRENDS</h1>
  
<div class="carousel-inner container">
  <div class="carousel-item active">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        
          <p class="m-4 mid">How Blockchain Technology<br>
            will fortify<br>
          Real Estate Industry</p>
      <a href="#"><img src="/../assets/img/slide1.png"
        class="img-fluid"><button class="imgbutton">View All</button></a>
        </div>
    
      <div class="col-lg-4 col-md-4 col-12">
        
          <p class="m-4 mid">Blockchain Technology<br>
            can help<br>
          Fight Cyber Crimes </p>
       <a href="#"><img src="/../assets/img/slide2.png"class="img-fluid">
        <button class="imgbutton">View All</button>
       </a> 
          
      
      </div>
      <div class="col-lg-4 col-md-4 col-12">
        
          <p class="m-4 mid">Blockchain Technology<br>
                Contributing To<br>
             Research & Development</p>
          <a href="#"><img src="/../assets/img/slide3.png"class="img-fluid">
            <button class="imgbutton">View All</button></a>
          
        
    
      </div>
    </div>
  </div>
  </div>
</section>
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <p class="mid1">New to the Blockchain industry?<br>
           Or got any queries?<br>
           We are just one click away! </p>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
         <div class="container myform">
         
         <!-- <form >
            <h2 class="text-center">Contact US</h2>
            <p class="text-center">How can you help?</p>
            <div class="form-group">
          
              <input type="text" class="form-control" id="name" 
              placeholder="Your Name" name="name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" 
              id="email" placeholder="Your email address" name="email">
            </div>
            <div class="form-group">
       
              <input type="text" class="form-control" id="company" 
              placeholder="company" name="company">
            </div>
            <div class="form-group">
             
              <input type="text" class="form-control" id="subject" 
              placeholder="Your subject" name="subject">
            </div>
            <div class="form-group">
           
              <textarea name="message" rows="4" cols="30"
               placeholder="Your Message..." class="form-control"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary" style="margin-left:40%">Submit</button>
          </form>
        </div> -->
        <form #userForm="ngForm">
  
          <h2 class="text-center">Contact US</h2>
          <p class="text-center">How can you help?</p>
          <input type="text" id="fname" name="name" #name="ngModel"
            placeholder="Your name.." [class.is-invalid]="name.invalid && name.touched"
          minlength="3" maxlength="32" required  [(ngModel)]="userModel.name">
          <small class="text-danger"
          [class.d-none]="name.valid || name.untouched">Name is required</small>
          <input type="email" id="email" 
          pattern = "^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
          #email = "ngModel" placeholder="Your email address" class="form-control"
          [class.is-invalid]="email.invalid && email.touched"
          name="email" required [(ngModel)]="userModel.email">
          <!-- <small class="text-danger"
          [class.d-none]="email.valid || email.untouched">
          Email must be in appropriate format</small> -->
          <div *ngIf="email.errors && (email.invalid || email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email must be required</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Email must be in appropriate format</small>
          </div>
          <input type="text" id="company" name="company" #company = "ngModel" 
          placeholder="Company" required
           [(ngModel)]="userModel.company">
           <small class="text-danger"
          [class.d-none]="company.valid || company.untouched">Company Name is required</small>
          <input type="text" id="subject" name="subject" #sub="ngModel" placeholder="Your Subject" 
          maxlength="15" [(ngModel)]="userModel.subject" required>
          <small class="text-danger"
          [class.d-none]="sub.valid || sub.untouched">Subject is required</small>
          <textarea name="message" rows="4" cols="30"
            placeholder="Your Message..." minlength="30" maxlength="150" #msg = "ngModel"
            [(ngModel)]="userModel.message" required></textarea>
            <small class="text-danger"
            [class.d-none]="msg.valid || msg.untouched">Message is required</small>
           <!-- <input type="submit" value="Submit"> -->
           <button [disabled]="userForm.form.invalid" class="btn btn-primary" style="margin-left: 40%;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<footer class="footersection" id="footerdiv">
<div class="mycontainer">
  
    
      <p>Copyright 2009-2017 OodlesTechnologies.All rights reserved </p>
 
  </div>
 

</footer>
<router-outlet></router-outlet>